*~
*.o
*.lo
.*
*.aux
*.bbl
*.log
*.blg
*.synctex.gz
debug/
Makefile.in
qdng.kde*
configure
aclocal.m4
autom4te.cache
config.h.in
config.guess
config.log
config.sub
depcomp
install-sh
ltmain.sh
missing
ylwrap
QDng.git.kdev4
QDng.kdevelop.pcs
QDng.kdevses

